@page "/{raise?}"
@model IndexModel
@using System
@using Newtonsoft.Json.Linq
@{
    ViewData["Title"] = "Home page";
    String btcData = ViewData["btc"].ToString();
    JObject btc = JObject.Parse(btcData);
    JObject doge = JObject.Parse(dogeData);
}

<div class="text-center">
    <h1 class="display-4">Application Insights Test Page AZ 204</h1>
    <a href="/raise">Raise Exception</a>
</div>
<div class="BtcTableWrapper">
<table class="BtcTable">
  <thead>
    <th>Currency</th>
    <th>15 Min</th>
    <th>Last</th>
    <th>Buy</th>
    <th>Sell</th>
    <th>Symbol</th>
  </thead>
  <tbody>
    
    @foreach (var item in btc)
    { 
      JObject values = JObject.Parse(@item.Value.ToString());
      <tr>
        <td class="Currency">@item.Key</td>
        @foreach (var val in values)
        {
          <td class="Value">@val.Value</td>
        }
      </tr> 
    }
    
  </tbody>
</table>
    <h2>Such wow!</h2>
    <table class="BtcTable">
  <thead>
    <th>Buy</th>
    <th>Currency</th>
    <th>Exchange</th>
    <th>Time</th>
  </thead>
  <tbody>
    
    @foreach (var item in doge['prices'])
    { 
      JObject values = JObject.Parse(@item.Value.ToString());
      <tr>
        <td class="Currency">@item.Key</td>
        @foreach (var val in values)
        {
          <td class="Value">@val.Value</td>
        }
      </tr> 
    }
    
  </tbody>
</table>
</div>
